/* body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(-45deg, #0f0f0f, #1a1a2e, #16213e, #0f3460);
  background-size: 400% 400%;
  animation: bgMove 10s ease infinite;
}
 */
@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.auth {
  width: 320px;
  margin: 120px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: floatCard 4s ease-in-out infinite;
}

@keyframes floatCard {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.auth h2 {
  text-align: center;
  color: white;
}

.auth input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(255,255,255,0.15);
  color: white;
  transition: 0.3s;
}

.auth input:focus {
  background: rgba(255,255,255,0.25);
  transform: scale(1.03);
}

.auth button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 75, 43, 0.6);
}

.auth p {
  text-align: center;
  color: #ddd;
  cursor: pointer;
}